html,
body {
  padding: 0;
  background-color: #eee;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  margin: 0 !important;
}
* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

// home styling ...

.nav-tabs {
  background: #faf9f8;
  gap: 59px;
  border-bottom: 0.5px solid #b2b2b2;
  margin-bottom: 64px !important;
  padding-left: 31px !important;
  .nav-link.active {
    border-color: none !important;
    border: none;
    border-bottom: 3px solid rgba(39, 58, 233, 0.8);
    border-bottom-color: rgba(39, 58, 233, 0.8) !important;
  }
  .nav-item {
    outline: none;
    button {
      height: 50px;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      color: #121212 !important;
      background-color: transparent !important;
      transition: 0.15s ease-in-out;
      border: none;
      border-bottom: 3px solid transparent;
      &:hover {
        transition: 0.15s ease-in-out;
        border: none;
        border-bottom: 3px solid rgba(39, 58, 233, 0.8);
      }
      &::selection {
        color: #121212 !important;
      }
      // &:active {
      //   color: #121212 !important;
      // }
      &:focus {
        border-color: none !important;
      }
    }
  }
}

// tab Content styling

.tab-content {
  padding: 0 30px 0;
  .tab_style {
    .tab_flx_box {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      margin-bottom: 70px;
      .tab_card {
        width: 376px;
        position: relative;
        display: flex;
        padding: 23px 0 18px 12px;
        gap: 20px;
        background: #fff;
        border: 0.5px solid #b2b2b2;
        border-radius: 8px;
        // width card with child
        &:nth-child(3),
        &:nth-child(6) {
          width: 372px;
        }
        // padding card with child
        &:nth-child(4),
        &:nth-child(5) {
          padding: 23px 0 18px 17px;
        }
        &:nth-child(6) {
          padding: 25px 0 18px 21px;
        }
        // color card with child
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          color: #881798;
        }
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          color: #038387;
        }
        .card_img {
          width: 57px;
          height: 53px;
          // width & height card img with child
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            width: 61px;
            height: 53px;
          }
          &:nth-child(6) {
            width: 55px;
            height: 46px;
          }
        }
        .card_side_img {
          width: 30px;
          height: 30px;
          position: absolute;
          right: 10px;
          top: 10px;
        }
        .card_content {
          // color: rgb(172, 39, 244);
          padding-top: 10px;
          .card_heading {
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            margin: 0 0 6px;
          }
          .card_para {
            font-size: 14px;
            font-weight: 500;
            line-height: 17px;
          }
        }
      }
    }
  }
}

// check priorities box style

.check_priorities_bx {
  width: 100%;
  border-top: 0.5px solid #b2b2b2;
  @media (max-width: 992px) {
    padding: 0 20px;
  }
  .check_container {
    display: flex;
    gap: 32px;

    .left_priorities {
      padding-top: 19px;
      width: 753px;
      .left_priorities_head {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 15px;
      }
      .priorities_heading {
        font-size: 21px;
        font-weight: 700;
        line-height: 21px;
        margin-bottom: 19px;
      }
      .left_inner_content {
        display: flex;
        gap: 40px;
        justify-content: space-between;
        margin-bottom: 16px;
        .left_sub_heading {
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          margin-bottom: 8px;
        }
        .dropdown {
          button {
            padding: 14px 97px 15px 15px;
            background: #ffffff;
            border: 0.5px solid #b2b2b2;
            border-radius: 8px;
            color: #000;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            &::after {
              content: "";
              border: none;
            }
          }
          .down_arrow {
            position: relative;
            top: 2px;
            right: 34px;
            width: 18px;
            height: 18px;
            cursor: pointer;
          }
        }
      }
      .input-group {
        margin-bottom: 32px !important;
        .form-control {
          background: #ffffff;
          border: 0.5px solid #b2b2b2;
          border-radius: 8px;
          border-top-right-radius: 8px !important;
          border-bottom-right-radius: 8px !important;
          padding: 14px 0 12px 44px;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          position: relative;
        }

        .search_icon {
          position: absolute;
          top: 18px;
          left: 15px;
          width: 19px;
          height: 19px;
        }
      }
      .date_content_bx {
        padding: 24px 0 18.48px;
        border-radius: 8px;
        background: #fff;
        margin-bottom: 31.8px;
        .date_content_contain {
          padding: 0 32px 0;
          .date_heading {
            font-weight: 700;
            font-size: 23px;
            line-height: 27px;
            margin-bottom: 6.63px;
          }
          .list_para {
            margin-bottom: 30px !important;
          }
          .date_para {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            padding-bottom: 32px;
          }
          .date_inner_heading {
            font-weight: 700;
            font-size: 16px;
            line-height: 28px;
          }
          .date_para_bx {
            padding-bottom: 64px;
            .agenda_para {
              font-size: 16px;
              font-weight: 400;
              line-height: 28px;
              padding-bottom: 0;
              margin: 0;
            }
          }
        }
        .left_line {
          margin-bottom: 0;
        }
        .edit_info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 18.48px 32px 0;
          .edit_para {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #666666;
          }
          .span_border {
            width: 6px;
            height: 6px;
            background: #666666;
            border-radius: 50%;
          }
          .span_line {
            width: 1px;
            height: 19px;
            background: #666666;
          }
          .email_note {
            display: flex;
            gap: 11px;
            align-items: center;
            .email_note_para {
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              color: #6264a7;
            }
          }
        }
      }
    }
    .right_priorities {
      width: 484px;
      .dropdown {
        .right_priorities_btn {
          width: 100%;
          padding: 14px 0 15px 15px !important;
          text-align: inherit;
        }
        .right_priorities_arrow {
          left: 93% !important;
          top: -36px !important;
        }
      }
      .right_user_profile {
        padding: 17px 0 0 0;
        background: #ffffff;
        border: 0.5px solid #b2b2b2;
        border-radius: 8px;
        margin-bottom: 32px;
        .user_profile_content {
          display: flex;
          align-items: center;
          gap: 16px;
          padding: 0 17px 31px 18px;

          span {
            width: 18px;
            height: 18px;
            border: 1px solid #121212;
            border-radius: 50%;
          }
          .user_profile_text {
            color: #121212;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
          }
        }
        .user_calender {
          padding: 0 17px 6px 18px;
          display: flex;
          justify-content: space-between;
          .calender_bx {
            display: flex;
            align-items: center;
            gap: 8px;
            span {
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              margin-bottom: 4px;
            }
          }
        }
      }
    }
    .vertical_line {
      width: 1px;
      height: auto;
      background: #b2b2b2;
    }
    .right_inner_content {
      gap: 0 !important;
      flex-direction: column;
    }
  }
}
.right_horizontal_line {
  width: 100%;
  height: 0.5px;
  background: #b2b2b2;
  margin-bottom: 14px;
}
